@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5 text-info">Welcome to My Azure App</h1>
    <h2>This App is using the azure-web-appservice continous deployment</h2>
</div>
